<section class="py-5">
<div class="container px-5">
<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
<div class="text-center mb-5">					
<h1 class="fw-bolder">DevTo.ML SubDomain List</h1>                     
 </div>
  {% assign comments = site.data.comments.request | sort %}
  {% for comment in comments reversed %}
    {% assign commentData = comment[1] %}
    <article class="comment">
      <h4 class="comment-name">{{ commentData.name }} {{ commentData.subdomain }} {{ commentData.date | date: "%b %d, %Y %H:%M:%S" }}</h4>
      <h4 class="comment-name">{{ commentData.restricted }}.devto.ml</h4>
    </article>
  {% endfor %}
</div>
</div>
</section>
